
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Shadows+Into+Light&display=swap');


body{
    background-image: url('../img/main.avif');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    vertical-align: auto;
}

header section{
    margin-top: 400px;
    margin-left: 600px;
    text-align: justify;
    font-family: chakra petch;
    width:600px;
    /* visibility: hidden; */
}

header aside{
    text-align: justify;
    font-family: chakra petch;
    width:600px;
    /* visibility: hidden; */
}

section{
/*     float: right; */
    text-align: justify;
    font-family: chakra petch;
    width:600px;
}

/* p{
    align-content: right;
} */


aside{
    float:right;
    text-align: justify;
    font-family: chakra petch;
    width:600px;
}
